<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/bootstrap/bootstrap.css/">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/asset-15.png">
    <title>Daywid</title>
</head>
<body>
    
    <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate itaque cupiditate blanditiis maiores consequatur dolorum, obcaecati consectetur at magnam inventore distinctio corrupti nihil assumenda. Error ullam commodi dolores magnam quod.</h1>

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js" ></script>
    <script src="../static/script.js"></script>
</body>
</html>